$colorPrimary: #458FF6
$colorPrimaryHover: #317de8
$colorWhite: #FFFFFF
$colorBlack: #233348
$colorDesc: #7D7987

@import "./fonts.sass"
@import "./icons.sass"

body,
div,
span,
p,
a,
button
  font-family: mulish

a,
button
  text-decoration: none !important
  outline: none !important

input,
textarea,
button,
select,
a
  -webkit-tap-highlight-color: rgba(0,0,0,0)

// text color
.text
  &-primary
    color: $colorPrimary
  &-white
    color: $colorWhite
  &-black
    color: $colorBlack
  &-desc
    color: $colorDesc

// font family
.fam
  &-regular
    font-family: mulish
  &-medium
    font-family: mulish-medium
  &-bold
    font-family: mulish-bold




// customize

.vicare

  // button
  &-btn
    padding: 16px 45px
    border: 1px solid $colorPrimary
    background-color: $colorPrimary
    color: $colorWhite
    border-radius: 30px
    font-weight: bold
    transition: .4s all
    &:hover
      background-color: $colorPrimaryHover
    &:active
      transform: scale(.9)
    &-outline
      padding: 16px 45px
      border: 1px solid $colorPrimary
      background-color: $colorWhite
      color: $colorPrimary
      border-radius: 30px
      font-weight: bold
      transition: .4s all
      &:hover
        color: $colorWhite
        background-color: $colorPrimaryHover
      &:active
        transform: scale(.9)
      &:hover i
        background-color: $colorWhite
        border-radius: 50%


  // background color
  &-bg
    &-primary
      background: $colorPrimary
    &-white
      background: $colorWhite
    &-gradient
      &-one
        background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%)
      &-two
        background: linear-gradient(183.41deg, #67C3F3 -8.57%,#5A98F2 82.96%)

  // box
  &-box
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4)
    height: 350px
    position: relative
    overflow: hidden
    &.article
      height: 550px

  
  // top navigation
  &-topnav
    ul li
      a[active="true"],
      a:hover
        color: $colorBlack
        font-weight: bold
  

  // header
  &-header
    &-text
    &-illustration
      background-image: url(../img/illustrations/hero.svg)
      background-size: contain
      background-repeat: no-repeat
      width: 500px
      height: 500px

  // section
  &-section
    &-header
      position: relative
      padding-bottom: 20px
      &::before
        content: ""
        position: absolute
        bottom: 0
        left: calc(50% - 30px)
        width: 60px
        height: 3px
        border-radius: 30px
        background-color: $colorBlack
      &-col
        position: relative
        padding-bottom: 20px
        &::before
          content: ""
          position: absolute
          bottom: 0
          left: 0
          width: 60px
          height: 3px
          border-radius: 30px
          background-color: $colorBlack
      &-white
        position: relative
        padding-bottom: 20px
        &::before
          content: ""
          position: absolute
          bottom: 0
          left: calc(50% - 30px)
          width: 60px
          height: 3px
          border-radius: 30px
          background-color: $colorWhite
    &-action
      margin-top: 50px

  // leading health care

  &-leadinghealthcare
    &-illustration
      background-image: url(../img/illustrations/leading-healthcare.svg)
      background-size: contain
      background-repeat: no-repeat
      width: 500px
      height: 500px

  // download mobile apps

  &-downloadmobileapps
    &-illustration
      background-image: url(../img/illustrations/download-mobile-apps.svg)
      background-size: contain
      background-repeat: no-repeat
      width: 500px
      height: 500px


@media screen and (max-width: 1024px)
  .menu-icon
    width: 30px
    height: 4px
    background-color: black
    margin: 6px 0
  .vicare
    &-topnav
      position: absolute
      width: 200px
      top: 100px
      right: 30px
      padding: 10px 30px
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4)
      background-color: rgba(255, 255, 255, .95)
      border-radius: 30px
      border: 1px solid rgb(229, 233, 246)
      text-align: left
      opacity: 0
      transition: .4s all
      &.active
        opacity: 1
        height: auto
      ul li
        width: 100%
    &-header
      &-text
      &-illustration
        width: 300px
        height: 300px
    
    &-leadinghealthcare
      &-illustration
        width: 300px
        height: 300px

    &-downloadmobileapps
      &-illustration
        width: 300px
        height: 300px