@font-face {
  font-family: mulish;
  src: url(../fonts/Mulish-Regular.ttf);
}

@font-face {
  font-family: mulish-medium;
  src: url(../fonts/Mulish-Medium.ttf);
}

@font-face {
  font-family: mulish-bold;
  src: url(../fonts/Mulish-Bold.ttf);
}

.vicare-icon {
  background-position: center center;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
}

.vicare-icon-search-doctor {
  background-image: url(../img/icons/search-doctor.svg);
}

.vicare-icon-online-pharmacy {
  background-image: url(../img/icons/online-pharmacy.svg);
}

.vicare-icon-consultation {
  background-image: url(../img/icons/consultation.svg);
}

.vicare-icon-details-info {
  background-image: url(../img/icons/details-info.svg);
}

.vicare-icon-emergency-care {
  background-image: url(../img/icons/emergency-care.svg);
}

.vicare-icon-tracking {
  background-image: url(../img/icons/tracking.svg);
}

.vicare-icon-download {
  background-image: url(../img/icons/download.svg);
}

body,
div,
span,
p,
a,
button {
  font-family: mulish;
}

a,
button {
  text-decoration: none !important;
  outline: none !important;
}

.text-primary {
  color: #458FF6;
}

.text-white {
  color: #FFFFFF;
}

.text-black {
  color: #233348;
}

.text-desc {
  color: #7D7987;
}

.fam-regular {
  font-family: mulish;
}

.fam-medium {
  font-family: mulish-medium;
}

.fam-bold {
  font-family: mulish-bold;
}

.vicare-btn {
  padding: 16px 45px;
  border: 1px solid #458FF6;
  background-color: #458FF6;
  color: #FFFFFF;
  border-radius: 30px;
  font-weight: bold;
  transition: .4s all;
}

.vicare-btn:hover {
  background-color: #317de8;
}

.vicare-btn:active {
  transform: scale(0.9);
}

.vicare-btn-outline {
  padding: 16px 45px;
  border: 1px solid #458FF6;
  background-color: #FFFFFF;
  color: #458FF6;
  border-radius: 30px;
  font-weight: bold;
  transition: .4s all;
}

.vicare-btn-outline:hover {
  color: #FFFFFF;
  background-color: #317de8;
}

.vicare-btn-outline:active {
  transform: scale(0.9);
}

.vicare-btn-outline:hover i {
  background-color: #FFFFFF;
  border-radius: 50%;
}

.vicare-bg-primary {
  background: #458FF6;
}

.vicare-bg-white {
  background: #FFFFFF;
}

.vicare-bg-gradient-one {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
}

.vicare-bg-gradient-two {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.vicare-box {
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  height: 350px;
}

.vicare-topnav ul li a[active="true"],
.vicare-topnav ul li a:hover {
  color: #233348;
  font-weight: bold;
}

.vicare-header-illustration {
  background-image: url(../img/header/illustration.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
}

.vicare-section-header {
  position: relative;
  padding-bottom: 20px;
}

.vicare-section-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 3px;
  border-radius: 30px;
  background-color: #233348;
}

.vicare-section-header-col {
  position: relative;
  padding-bottom: 20px;
}

.vicare-section-header-col::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 3px;
  border-radius: 30px;
  background-color: #233348;
}

.vicare-section-action {
  margin-top: 50px;
}

.vicare-leadinghealthcare-illustration {
  background-image: url(../img/illustrations/leading-healthcare.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
}

.vicare-downloadmobileapps-illustration {
  background-image: url(../img/illustrations/download-mobile-apps.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 1024px) {
  .vicare-topnav {
    display: none;
  }
  .vicare-header-illustration {
    width: 300px;
    height: 300px;
  }
  .vicare-leadinghealthcare-illustration {
    width: 300px;
    height: 300px;
  }
}
/*# sourceMappingURL=app.css.map */